<h3 class="text-center"><%= t('.title')%></h3>
<%= render 'search_form', q: @search, url: bookmarks_path %>
<% if @bookmarks.present?%>
  <turbo-frame>
    <%= render @bookmarks %>
  </turbo-frame>
  <div class=" page container d-flex justify-content-center">
  <%= link_to 'Previous', bookmarks_path(page: @previous_page), data: { turbo: false }, class: "mx-2" if @previous_page %>
  <%= @page %>
  <%= link_to 'Next', bookmarks_path(page: @next_page), data: { turbo: false }, class: "mx-2" if @next_page %>
  </div>
<% else %>
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <strong><%= t('.bookmark_nil')%></strong>
  </div>
<% end %>
