<div class="container mt-5">  
  <div class="card mx-auto" style="max-width: 500px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
    <h3 class="text-center"><%= t('.title')%></h3>
    <div class="card-body">
      <%= form_with(model: @post, class: "needs-calidation") do |form| %>
        <div class="mb-3">
          <%= form.label :title, class: "form-label" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_area :description, class: "form-control", rows:"5" %>
        </div>
        <div class="row justify-content-between">
          <div class="col-auto">
            <%= form.submit t('.update'), class:"btn btn-primary" %>
          </div>
          <div class="col-auto text-end">
            <%= link_to t('.back'), post_path(@post)%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>