<h1 class="text-center"><%= t('.title')%></h1>
<% @posts.each do |post| %>
  <div class="card mb-3">
    <div class="card-body">

      <h4 class="card-title"><%= link_to post.title, post_path(post) %></h4><br>
      <p class="card-text"><%= simple_format(post.description) %> </p>
      <p class="card-text text-end "><%= t('.user')%>:<%= post.user.name %>
      <p class="card-text text-end "><%= t('.post_day')%>:<%= post.created_at.strftime('%Y年%m月%d日') %></p>
    </div>
  </div>
<% end %>
<%= paginate @posts, theme: 'bootstrap-5'%>
