<h1 class="text-center"><%= t('.title')%></h1>
<div class="container mb-3">
  <div class="row">
    <%= render 'search_form', q: @search, url: posts_path %>
  </div>
</div>
<% if @posts.exists? %>
  <turbo-frame id = posts>
    <%= render @posts %>
  </turbo-frame>
<% else %>
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <strong>検索結果はありません</strong>
  <div>
<% end %>
<div class=" page container d-flex justify-content-center">
  <%= link_to 'Previous', posts_path(page: @previous_page), data: { turbo: false }, class: "mx-2" if @previous_page %>
  <%= @page %>
  <%= link_to 'Next', posts_path(page: @next_page), data: { turbo: false }, class: "mx-2" if @next_page %>
</div>